<div
  class="d-flex flex-column justify-content-center align-items-center justify-content-center p-3"
>
  @if (isMoreUsersLoading) {
    <div class="dotted-spinner mb-2">
      @for (dot of dots; track dot; let i = $index) {
        <div class="dot" [ngStyle]="{ 'animation-delay': i * 0.1 + 's' }"></div>
      }
    </div>
  } @else {
    <div>
      <button
        class="btn btn-link primary-text-purple"
        (click)="loadMoreUsers()"
        [disabled]="!hasMoreData"
      >
        {{ "translation:loading.loadMoreUsers" | i18next }}
      </button>
    </div>
  }
</div>
