.navbar {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.nav-link {
  margin-right: 15px;
  font-weight: 500;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.25rem;
}
