$primary-purple: #9a57b5;
:root {
  --primary-purple: #9a57b5;
  --meduim-grey: #e6e6e6;
  --primary-light-purple: #f6ebfb;
}
body {
  height: 100vh;
  margin: 0;
}

.primary-btn-purple {
  background-color: $primary-purple !important;
  border-color: $primary-purple !important;
}
.no-border {
  border: none;
}
.border-raduis {
  border-radius: 25px !important;
}

.primary-text-purple {
  color: $primary-purple !important;
}
.primary-outline-btn-purple{
   background-color: rgb(244, 243, 242) !important;
  border-color: $primary-purple !important;
  color:$primary-purple !important
}