<div class="container-fluid shadow-sm py-3 my-3">
  <div class="row align-items-center">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none">{{
              "translation:header.home" | i18next
            }}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none">{{
              "translation:header.dashboard" | i18next
            }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ "translation:header.usersList" | i18next }}
          </li>
        </ol>
      </nav>
      <h1 class="h3">{{ "translation:header.usersList" | i18next }}</h1>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <button
        class="btn btn-primary primary-btn-purple no-border border-raduis px-4 py-2"
        data-bs-toggle="modal"
        data-bs-target="#addUserModal"
      >
        {{ "translation:header.newUser" | i18next }}
      </button>
    </div>
  </div>
</div>
